@keyframes contentBriefText {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes contentBriefImages {
    0% {
        opacity: 0;
        transform: translateX(400px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes contentStackSlide {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(calc(-100% - 85.5%));
    }
}

@keyframes techCardFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.85;
    }
}

.about-container {
    background-color: #c2fcb7;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

.about-content-stack {
    border-bottom: 0.5px solid #36454f;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.tech-stack-scroll-container {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    margin-top: 1.5rem;
}

.tech-stack-scroll {
    display: flex;
    align-items: flex-start;
    width: 100%;
    animation: contentStackSlide 12s linear infinite;
}

.tech-stack-scroll-container::before,
.tech-stack-scroll-container::after {
    content: '';
    position: absolute;
    top: 0;
    width: 50px;
    z-index: 50;
    height: 100%;
}

.tech-stack-scroll-container::before {
    left: 0;
    background: linear-gradient(270deg, hsla(0, 0%, 100%, 0), #c2fcb7);
}

.tech-stack-scroll-container::after {
    right: 0;
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #c2fcb7);
}

.tech-stack-scroll>.card {
    margin-right: 2em;
    flex-shrink: 0;
    width: 20rem;
    height: auto;
    box-sizing: border-box;
    white-space: wrap;
    border-radius: 20px;
    overflow: visible;
    border: none;
}

.tech-stack-scroll>.card>.card-header {
    background-color: #b9b9b9af;
    padding: 6px 12.5px;
    text-transform: uppercase;
    color: white;
    font-size: 1.2rem;
    margin: 0;
    z-index: 5;
    box-sizing: border-box;
    border-radius: 20px 20px 0 0;
}

.tech-stack-scroll>.card>img {
    width: auto;
    max-height: 200px;
    object-fit: cover;
}

.card-category-title {
    font-size: 1.25rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.about-content-projects {
    border-bottom: 0.5px solid #36454f;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 60vh;
    margin: 0;
    box-sizing: border-box;
}

.about-content-brief-text p {
    opacity: 0;
    animation: contentBriefText 1s ease-in-out forwards;
}

#intro-brief-carousel {
    opacity: 0;
    animation: contentBriefImages 1s ease-in-out forwards;
    animation-delay: 1s;
}

.about-content-brief-text p:nth-child(1) {
    animation-delay: 0.5s;
}

.about-content-brief-text p:nth-child(2) {
    animation-delay: 1s;
}

.about-content-brief-text p:nth-child(3) {
    animation-delay: 1.5s;
}

.about-content-brief-text p:nth-child(4) {
    animation-delay: 2s;
}

.carousel-item,
.carousel-inner {
    width: 100% !important;
}

.carousel-item img {
    width: auto;
    max-width: 100%;
    max-height: 600px;
    object-fit: cover;
}

.tech-stack-card-item {
    animation: techCardFadeIn 1s ease-in-out forwards;
    opacity: 0;
}

@media screen and (max-width: 768px) {
    .tech-stack-scroll {
        animation: none;
    }

    .tech-stack-scroll-container::before {
        background: none;
    }

    .tech-stack-scroll-container::after {
        background: none;
    }

    .tech-stack-scroll-container {
        overflow-x: auto;
    }
}