@keyframes contentBriefText {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes contentBriefImages {
    0% {
        opacity: 0;
        transform: translateX(400px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes contentStackSlide {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(calc(-100% - 225px));
    }
}

.about-container {
    background-color: #c2fcb7;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

.about-content-brief {
    border-bottom: 0.5px solid #36454f;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

.about-content-stack {
    border-bottom: 0.5px solid #36454f;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.tech-stack-scroll-container {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    margin-top: 3rem;
}

.tech-stack-scroll {
    display: flex;
    align-items: flex-start;
    height: auto;
    width: 100%;
    animation: contentStackSlide 12s linear infinite;
}

.tech-stack-scroll:hover {
    animation-play-state: paused;
}

.tech-stack-scroll-container::before,
.tech-stack-scroll-container::after {
    content: '';
    position: absolute;
    top: 0;
    width: 50px;
    z-index: 50;
    height: 100%;
}

.tech-stack-scroll-container::before {
    left: 0;
    background: linear-gradient(270deg, hsla(0, 0%, 100%, 0), #c2fcb7);
}

.tech-stack-scroll-container::after {
    right: 0;
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #c2fcb7);
}

.tech-stack-scroll>.card {
    margin-right: 2em;
    flex-shrink: 0;
    width: 20rem;
    height: auto;
    box-sizing: border-box;
    white-space: wrap;
    border-radius: 20px;
    overflow: visible;
    border: none;
}

.tech-stack-scroll>.card>.card-header {
    background-color: #b9b9b9af;
    padding: 12.5px;
    text-transform: uppercase;
    color: white;
    font-size: 1.2rem;
    margin: 0;
    z-index: 5;
    box-sizing: border-box;
    border-radius: 20px 20px 0 0;
}

.tech-stack-scroll>.card>img {
    width: auto;
    max-height: 200px;
    object-fit: cover;
}

.card-category-title {
    font-size: 1.25rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.about-content-projects {
    border-bottom: 0.5px solid #36454f;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 60vh;
    margin: 0;
    box-sizing: border-box;
}

.about-content-brief-text {
    display: flex;
    flex-direction: column;
    padding: 0 80px;
    justify-content: center;
    max-width: 60%;
    margin-right: 10px;
}

.about-content-brief-text p {
    font-size: 1.35rem;
    opacity: 0;
    animation: contentBriefText 1s ease-in-out forwards;
}

.about-content-brief-text p:nth-child(1) {
    animation-delay: 0.5s;
}

.about-content-brief-text p:nth-child(2) {
    animation-delay: 1s;
}

.about-content-brief-text p:nth-child(3) {
    animation-delay: 1.5s;
}

.about-content-brief-images {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.carousel-item,
.carousel-inner {
    width: 100% !important;
}

.carousel-item img {
    width: auto;
    max-width: 100%;
    max-height: 600px;
    object-fit: cover;
}

@media screen and (max-width: 500px) {

    .about-content-brief {
        height: auto;
        padding: 10px 0;
    }

    .about-content-brief-text {
        max-width: 100%;
        font-size: 0.8rem;
        padding: 0 20px;
    }

    .carousel-item img {
        max-height: 250px;
    }

    .tech-stack-scroll>.card {
        width: 12rem;
    }
}

@media screen and (max-width: 768px) {
    .about-content-brief {
        flex-direction: column;
        width: 100%;
    }

    .about-content-brief-text {
        max-width: 100%;
        font-size: 1.15rem;
        margin-top: 50px;
        padding: 0 60px;
    }

    .about-content-brief-images {
        height: 100%;
        width: 100%;
    }

    .carousel-item img {
        max-height: 450px;
    }

    .tech-stack-scroll-container {
        margin-top: 15px;
        overflow: auto;
        height: auto;
    }

    .tech-stack-scroll {
        animation: none;
        height: auto;
    }

    .tech-stack-scroll>.card {
        width: 16rem;
    }

    .tech-stack-scroll-container::before {
        left: 0;
        background: none;
    }

    .tech-stack-scroll-container::after {
        right: 0;
        background: none;
    }
}